{% extends 'base.html' %}
{%load static%}

{%block container%}

<div class="form-group">
    <select class="form-control">
        <option value="1">repertorio 1</option>
        <option value="2">repertorio 2</option>
        <option value="3">repertorio 3</option>
    </select>
</div>
<p><button class="btn btn-success play">Play <i class="fa fa-play" aria-hidden="true"></i></button></p>

<div class="panel-group" id="accordion" role="tablist">
    <div id="sortable">
        {% for music in musics %}
            <div class="musicard">
                <div class="panel panel-primary">
                    <div class="panel-heading" role="tab" id="heading_{{music.id}}" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{music.id}}" aria-expanded="false" aria-controls="collapse_{{music.id}}">
                        <div class="row">
                            <div class="col-md-3">
                                {{music.name}}
                            </div>
                            <div class="col-md-3">
                                {{music.artist}}
                            </div>
                            <div class="col-md-4">
                                <p>Tom: {{music.tone}} <i class="fa fa-trash fa-lg" aria-hidden="true"></i> <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i></p>
                            </div>
                            <div class="col-md-2">
                                <i class="fa fa-chevron-down fa-lg" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div id="collapse_{{music.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{music.id}}">
                        <div class="panel-body">
                            {{music.musicFile}} 
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>
{%endblock%}